<div class="comment-wrapper">
    <div class="comment-metadata row">
        <div class="col-2 image">
            <img src="../../../assets/static/images/profile.png" alt="" class="author-image">
        </div>
        <div class="row col-10 author-data">
            <div class="col-2">
                <div class="author-name">Mudumby Kalyan</div>
            </div>
            <div class="col-2">
                <div class="commented-date">17-11-22</div>
            </div>
            <div class="col-1">
                <div class="comments">3</div>
            </div>
        </div>
    </div>

</div>