<footer class="footer">
    <div class="main-wrapper">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="left-section">
                    Brand image goes here
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="middle-section">
                    <ul>
                        <li><a href="http://">LINKS GO HERE</a></li>
                        <li><a href="http://">LINKS GO HERE</a></li>
                        <li><a href="http://">LINKS GO HERE</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="right-section">
                    <ul>
                        <li><a  href="http://">LINKS GO HERE</a></li>
                        <li><a  href="http://">LINKS GO HERE</a></li>
                        <li><a  href="http://">LINKS GO HERE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>