<div class="post-wrapper">
    <div class="post-header">
        <div class="post-metadata row">
            <div class="author-image col">
                IMAGE_GOES_HERE</div>
            <div class="row">

                <div class="author-name col">AUTHOR NAME</div>
                <div class="posted-date">DATE</div>
                <div class="comments"> COMMENTS COUNT</div>
            </div>
        </div>
        <div>
            <h2 class="post-title">TITLE</h2>
        </div>
    </div>

    <div class="post-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident repudiandae praesentium possimus quod
            labore temporibus similique, aspernatur quia esse perspiciatis quaerat dolorum laborum magni minima
            accusantium quibusdam hic sequi distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt, minus ad odit, ratione necessitatibus sint totam minima vero fugiat, voluptas ipsum aliquid
            suscipit. Optio architecto magni voluptate, cupiditate dolores quod. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Et blanditiis ullam nulla commodi maxime, quia, nisi tenetur consequuntur deserunt
            incidunt libero aliquid cum, id amet suscipit voluptate accusamus eligendi ipsum. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Omnis repellendus unde in qui sit officiis exercitationem ad voluptas! Facilis
            sapiente suscipit nostrum incidunt debitis! Cumque praesentium quas temporibus reiciendis suscipit. Lorem
            ipsum dolor sit, amet consectetur adipisicing elit. Atque tempore incidunt esse blanditiis ut officiis,
            consectetur nihil nobis quae amet commodi eveniet veniam perferendis inventore alias exercitationem magni
            ducimus. Asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum quod
            deleniti ad quidem culpa ab quia dolorem consectetur ratione laudantium repellat corporis eligendi voluptas,
            deserunt eius accusantium voluptatum explicabo!</p>
    </div>

</div>