<div class="post-wrapper">
    <div class="post-metadata row">
        <div class="col-2 image">
            <img src="../../../assets/static/images/profile.png" alt="" class="author-image">
        </div>
        <div class="row col-10 author-data">
            <div class="col-2">
                <div class="author-name">Mudumby Kalyan</div>
            </div>
            <div class="col-2">
                <div class="posted-date">17-11-22</div>
            </div>
            <div class="col-1">
                <div class="comments">3</div>
            </div>
        </div>
    </div>
    
    <div class="post-body">
        <h2 class="post-title">This is a example title</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iusto aliquid odit dolores modi nam accusamus vitae adipisci quia repellat hic sed tempora necessitatibus minus quod, quidem facere totam odio.</p>
    </div>

</div>