/* .comment-wrapper{
    padding: 3rem;
}
.comment-metadata{
    padding-bottom: 2rem;
} */
.author-image {
  height: 75px;
  width: 75px;
}
.comment {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
}
.comment-footer {
  padding: 1rem 2rem;
}
p {
  line-height: 1.4;
  font-size: 1rem;
}
